@mixin triangle-up ($size, $color) {
  width: 0;
  height: 0;
  border-right: $size solid transparent;
  border-left: $size solid transparent;
  border-top: $size solid $color;
}

@mixin triangle-down ($size, $color) {
  width: 0;
  height: 0;
  border-right: $size solid transparent;
  border-left: $size solid transparent;
  border-bottom: $size solid $color;
}